*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

#wrapper{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

header{
    /* background-color: rgb(13, 127, 67); */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}

header .wrap{
    width: 1280px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}

header h1{
    color: rgb(13, 127, 67);
    line-height: 90px;
    padding-left: 30px;
    font-family: Gmarket Sans;
}

header nav span{
    position: absolute;
    right: 30px;
    top: 53%;
    transform: translateY(-50%);
}
header .gnb{
    display: flex;
    justify-content: space-between;
    width: 550px;
    position: absolute;
    right: 130px;
    top: 50%;
    transform: translateY(-50%);
    font-family: Gmarket Sans;
}

/*HEADER*/
main{
    overflow: visible;
}
main section{
    box-sizing: border-box;
    position: relative;
}

.section1{
    position: relative;
    height: 100vh;
    padding-top: 90px;
}
.section1 .wrap{
    width: 1280px;
    height: 990px;
    margin: 0 auto;
    position: relative;
}

.section1 h2{
    width: 1280px;
    font-size: 100px;
    font-family: Gmarket Sans;
    font-weight: bold;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 1;
}

.section1 h2 span{
    float: right;
}

.section1 .wrap .img_box > div{
    transition: all 1s;
}

.section1 .wrap .img_box .c_1{
    position: absolute;
    right: 0px;
    bottom: 125px;
    z-index: 0;
}
.section1 .wrap .img_box .c_2{
    position: absolute;
    right: 290px;
    top: 140px;
    z-index: 0;
}
.section1 .wrap .img_box .c_3{
    position: absolute;
    left: 0;
    top: 300px;
    z-index: 0;
    animation: c3Anim 10s infinite alternate linear;
    transform-origin: right center;
    padding-right: 150px;
}

.section1 .wrap .img_box .c_3 img{
    animation: c3Anim_img 10s infinite alternate linear;
}

/* @keyframes c1Anim{
    0%{transform: translate(0,0);}
    100%{transform: translate();}
}
@keyframes c2Anim{
    0%{transform: translate(0,0);}
    100%{transform: translate();}
}
@keyframes c3Anim{
    0%{transform: rotate(0) translate(0,0);}
    100%{transform: rotate(-45deg) translateX(50px);}
}
@keyframes c3Anim_img{
    0%{transform: rotate(0);}
    100%{transform: rotate(45deg);}
} */

.section1 .bg_font1, .bg_font2{
    color: #fff;
    font-size: 160px;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-family: Gmarket Sans;
    font-weight: bolder;
}

.section1 .bg_font1{
    position: absolute;
    left: -300px;
    top: 0;
    z-index: -1;
}

.section1 .bg_font2{
    position: absolute;
    bottom: 0px;
    right: -300px;
    z-index: -1;
}

.section1 .left_font{
    position: absolute;
    left: -300px;
    bottom: 10%;
}

.section1 .right_font{
    position: absolute;
    right: -300px;
    top: 10%;
}

/*section1*/



.section2{
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
    height: 100vh;
}
.section2 h2{
    color: rgb(13, 127, 67);
    font-family: Gmarket Sans;
    font-size: 35px;
    text-align: center;
    padding: 80px;
    line-height: 20px;
}
.section2 h2 span{
    font-size: 16px;
    color: #999999;
    font-weight: 100;
}

.section2 .wrap{
    width: 100%;
    height: 680px;
    background-image: url(../images/section2_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.section2 .wrap .board{
    width: 1280px;
    height: 680px;
    margin: -50px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.section2 .wrap .board .whitebox{
    display: flex;
    padding-top: 120px;
    font-family: Gmarket Sans;
    width: 50%;
    height: 470px;
}

.section2 .wrap .board .whitebox .me{
    text-align: center;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 40px;
}

.section2 .wrap .board .whitebox .me p{
    padding-top: 35px;
    font-size: 14px;
    font-weight: 400;
    font-family: Gmarket Sans;
    line-height: 20px;
}

.section2 .wrap .board .whitebox .me_txt{
    line-height: 30px;
}
.section2 .wrap .board .whitebox .me_txt span{
    font-size: 14px;
    font-weight: 100;
}


.section2 .bg_font1, .bg_font2{
    color: #fff;
    font-size: 160px;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    font-family: Gmarket Sans;
    font-weight: bolder;
}

.section2 .bg_font1{
    position: absolute;
    top: 110px;
    left: 5%;
    z-index: -1;
}

.section2 .bg_font2{
    position: absolute;
    bottom: 0px;
    right: 5%;
    z-index: -1;
}

.section2 .wrap .board .greenbox{
    padding-top: 120px;
    font-family: Gmarket Sans;
    width: 50%;
    color: #fff;
}
.section2 .wrap .board .greenbox .icando{
    margin-top: 30px;
}
.section2 .wrap .board .greenbox .txt{
    padding-left: 80px;
    line-height: 30px;
}
.section2 .wrap .board .greenbox .txt p{
    font-size: 14px;
    font-weight: 100;
    font-family: Gmarket Sans;
}

.section2 .wrap .board .greenbox .txt>div{
    margin-bottom: 0px;
}

/*section3*/

.section3 h2{
    color: rgb(13, 127, 67);
    font-family: Gmarket Sans;
    font-size: 35px;
    text-align: center;
    padding-top: 240px;
    padding-bottom: 90px;
    line-height: 20px;
}
.section3 h2 span{
    font-size: 16px;
    color: #999999;
    font-weight: 100;
}

.section3{
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
    /* z-index: -2; */
}

.section3 .boxwrap{
    width: 1280px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.section3 .boxwrap .box{
}

.section3 .boxwrap .box:hover .layer{transform: rotateY(180deg);}
.section3 .boxwrap .box:hover .layer .thumb{opacity: 0;}

.section3 .boxwrap .box .layer{
    width: 375px;
    height: 375px;
    position: relative;
    transition: all 0.4s;
}

.section3 .boxwrap .box .layer img.thumb{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.4s;
}
.section3 .boxwrap .box .layer img.back{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.section3 .name{
    position: absolute;
    top: -270px;
    left: 209px;
    z-index: -1;
}
/* 
.box_wrap .box span{
    position: absolute;
    z-index: 0;
    transition: 0.5s;
    top: 0;
    left: 0;
}

.box_wrap .box span img{
    display: none;
    overflow: hidden;
    transform: rotateY(180deg);
} */
/*section3*/


.section4{
    width: 100%;
    height: 100vh;
}
.section4 .f_box{
    height: 540px;
    text-align: center;
    position: relative;
}

.section4 .f_box img{
    padding-top: 80px;
}

.section4 .f_box p{
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    line-height: 30px;
    font-family: Gmarket Sans;
    font-weight: 300;
}

.section4 footer{
    width: 100%;
    height: 540px;
    background-color: rgb(13, 127, 67);
}

.section4 footer .f_wrap{
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}


.section4 footer .f_wrap h2{
    font-family: Gmarket Sans;
    font-size: 35px;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
    line-height: 20px;
}
.section4 footer .f_wrap h2 span{
    font-size: 16px;
    font-weight: 100;
}

.section4 footer .f_wrap .ico{
    margin: 0 auto;
    display: flex;
    width: 800px;
    justify-content: space-between;
    padding-bottom: 95px;
    line-height: 25px;
}

.section4 footer .f_wrap .ico > div{
    width: 33.33%;
}

.section4 footer .f_wrap .ico > div h5{
    font-family: Gmarket Sans;
    font-size: 16px;
    font-weight: 400px;
    text-align: center;
}

.section4 footer .f_wrap .ico > div span{
    font-family: Gmarket Sans;
    font-size: 16px;
    font-weight: 100;
}

.section4 footer .f_wrap .ico .txt{
    margin-top: 20px;
}
.section4 footer .f_wrap .ico .call{
    margin-top: -15px;
}

.section4 footer .f_wrap .ico .insta{
    margin-top: -15px;
}

/*section4*/
